/* NAVBAR */
nav .container {
    background-color: var(--color1);
}

nav .logo {
    color: var(--color5);
}

nav .logo:last-child {
    letter-spacing: 2px;
    font-weight: 200;
}

nav .logo:hover {
    color: var(--color5);
}

nav .links a {
    width: auto;
    color: var(--color8);
}

.nav-link:hover {
    color: var(--color2);
}

.navbar-toggler {
    border: none;
    color: transparent;
    font-size: 1.5em;
}
