/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ESTILOS CSS */
@import url('home/agendarConsulta.css');
@import url('home/banner.css');
@import url('buttons.css');
@import url('home/consultas.css');
@import url('home/consultorio.css');
@import url('home/faq.css');
@import url('footer.css');
@import url('navbar.css');
@import url('home/noticias.css');
@import url('home/sobre.css');
    /* SOBRE */
    @import url('sobre/banner.css');
    @import url('sobre/bio.css');
    @import url('sobre/depoimento.css');
    @import url('sobre/trajetoria.css');

:root {

/* VARIÁVEIS */
    --color1: #FBFBFB;
    --color2: #4A7866;
    --color3: #6D6D6D;
    --color4: #808183;
    --color5: #E4AAAC;
    --color6: #0BAEDC;
    --color7: #511294;
    --color8: #85C2AD;
    --color9: #C49395;

    --montserrat: "montserrat", sans-serif;
    --roboto: "roto", sans-serif;
}
