/* DEPOIMENTO */
.sobre-depoimento > div {
    background-color: #FAFAFA;
    border-radius: 20px;
}

.sobre-depoimento .intro {
    color: var(--color9);
}

.sobre-depoimento .text {
    color: var(--color4);
}
