/* CARD */
.custom__card {
    border-radius: 10px;
    box-sizing: border-box;
}
.custom__card img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}

.custom__card .title {
    font-weight: bold;
    color: var(--color2);
}
